

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}




#cena {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: #3c3f3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #555;
}


#jogador {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #969393;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #d9534f;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    #cena {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}




